body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #008CBA;
  }
  
  header {
    background-color: #008CBA;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .playlist-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .playlist-card:hover {
    transform: scale(1.05);
  }
  
  .playlist-card h3 {
    font-size: 1.5em;
  }
  
  .playlist-card p {
    font-size: 1em;
    color: #555;
  }
  
/* Estilo geral dos botões */
button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 10px;
  }
  
  button:hover {
    background-color: #005f73;
  }
  
 
  button.create-playlist {
    background-color: #4CAF50;
  }
  
  button.create-playlist:hover {
    background-color: #45a049;
  }
  

  button.delete-playlist {
    background-color: #f44336;
  }
  
  button.delete-playlist:hover {
    background-color: #d32f2f;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  